snippet local
	local $1 = $0

snippet fun
	function $1($2)
	    $3
	end
	$0

snippet for
	for $1 = $2, $3 do
	    $4
	end
	$0

snippet forp
	for $1, $2 in pairs($3) do
	    $4
	end
	$0

snippet fori
	for $1, $2 in ipairs($3) do
	    $4
	end
	$0

snippet if
	if $1 then
	    $2
	$3
	end
	$0

snippet ife
	if $1 then
	    $2
	else
	    $3
	end
	$0

snippet elif
	elseif $1 then
	    $2
	$0

snippet print
	print($1)
	$0

snippet req
	require("$1")
	$0

snippet rt "return {}"
	return {$1}
	$0
